# Gitignore file contains a list of path patterns which should be excluded from
# version Control
# ignore byte compiled
*__pycache__*
*.pyc

#ignore environment specific database login credentials
*dbcreds.py

*.log
Procfile*
app.json
requirements.txt
runtime.txt
*.DS_Store*

#ignorethe generated bash script
*.sh

#ignore database
db.sqlite3

# ignore environment directories
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

*.idea

*hpcccreds.py