<!DOCTYPE html>
<html lang="en">
{% include "../base_templates/head.html" %}
{% include "../base_templates/header.html" %}

<body>
    {% csrf_token %}
    <div class="">
        <input id="user-field" type="text" placeholder="Enter userID"></input>
        <input id="search-button" type="submit" name="search-by-user" value="Search"></input>
    </div>
    <div class="job-table">
      <div class="job-table">
        <h2>{{ user }}'s Jobs</h2>
            <table>
                <tr>
                    {% for col in cols %}
                    <td><strong>{{ col }}</strong></td>
                    {% endfor %}
                 </tr>
                {% for job in jobs %}
                <tr>
                    {% for field in job %}
                        <td>{{ field }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}

            </table>
    </div>
    </div>
    <script type="text/javascript">
      jQuery('#search-button').click( function() {
        var user = jQuery('#user-field').val()
        window.location.href = "/jobs/" + user
        return false
      })

      jQuery('#user-field').on("keypress", function(e) {
        if (e.which == 13) {
          var user = jQuery('#user-field').val()
          window.location.href = "/jobs/" + user
          return false
        }
      })
    </script>
</body>
</html>
