{% extends "../base_templates/base-page.html" %}
{% load static %}
{% block title %} Admin Job View {% endblock %}
{% block content %}
  <div class="grid-x" style="margin: 20px 0 0 0;padding: 0 10px">
      <div class="cell small-2 large-2" style="margin: 0">
          <select id="search-selection">
            {% for col,idx in cols %}
              <option value="{{idx}}">{{col}}</option>
            {% endfor %}
          </select>
      </div>
      <input id="user-field" style="margin: 0 20px 0 20px;width: 50vw" class="cell small-8 large-8" type="text" placeholder="Search Query" />
      <a id="search-button" style="margin: 0" class="button cell small-2 large-2" href="#">Search</a>
  </div>

  <ul class="dropdown menu grid-x" data-dropdown-menu  style="margin-top: 10px;">
    <li class="cell small-3 medium-3 large-3">
      <a href="#" style="color: #000;">Filter Columns</a>
      <ul class="menu">
        {% for col,idx in cols %}
          <div class="grid-x">
            <label class="cell large-11 medium-11 small-11" for="{{col}}-checkbox">{{ col }}</label>
            <input id ="{{col}}-checkbox" class="cell large-1 medium-1 small-1" data-col-checkbox="{{col}}" type="checkbox" checked="true">
          </div>
        {% endfor %}
      </ul>
    </li>
    <li class="cell small-3 medium-3 large-3" style="margin: 0 40px;"><a id="filter-button" class="button" href="#">Filter</a></li>
    <li class="cell small-3 medium-3 large-3"><a id="reset-button" class="button" href="#">Reset All</a></li>
    <li class="cell small-3 medium-3 large-3" hidden="true"><a href="#">Item 4</a></li>
  </ul>

<h4 style="color: #000">{{ user }}'s Jobs</h4>
<div class="table-wrapper-scroll-y" style="height: 55vh;padding: 0 10px">
  <table id="job-table" class="job-table">
            <tr>
                {% for col,idx in cols %}
                <td class="col-header" data-col-header="{{col}}"><strong>{{ col }}</strong></td>
                {% endfor %}
             </tr>
            {% for job in jobs %}
            <tr class="job-row">
                {% for field in job %}
                    <td class="field-data">{{ field }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
  </div>
{% endblock %}

{% block inline-js %}
    <script type="text/javascript">
      function comparer(index) {
          return function(a, b) {
              var valA = getCellValue(a, index), valB = getCellValue(b, index)
              return jQuery.isNumeric(valA) && jQuery.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
          }
      }
      function getCellValue(row, index){ return jQuery(row).children('td').eq(index).text() }

      function tableSearch(searchStr, col_index) {
        rows = jQuery('.job-row')
        numRows = rows.length
        numFields = rows[0].children.length
        //console.log(numFields)
        for (i=0;i < numRows;i++) {
          if (rows[i].children[col_index].innerText != searchStr) {
            jQuery(rows[i]).hide()
          }
          else {
            jQuery(rows[i]).show()
          }
        }
      }

      // initiate search
      jQuery('#search-button').click( function() {
        var searchStr = jQuery('#user-field').val()
        var searchStr = jQuery('#user-field').val()
        var searchParam = jQuery('#search-selection').val()
        tableSearch(searchStr, searchParam)
        //window.location.href = "/jobs/" + user
        return false
      })
      // initiate search with enter key
      jQuery('#user-field').on("keypress", function(e) {
        if (e.which == 13) {  // 13 is key code for enter key
          var searchStr = jQuery('#user-field').val()
          var searchParam = jQuery('#search-selection').val()
          tableSearch(searchStr, searchParam)
          //window.location.href = "/jobs/" + user
          return false
        }
      })

      // reset table
      jQuery('#reset-button').click( function() {
        jQuery('.job-table tr').show()
        jQuery('[data-col-checkbox]').prop('checked', true)
      })


      // sort rows by clicked column
      jQuery('[data-col-header]').click( function() {
            var table = jQuery(this).parents('table').eq(0)
            var rows = table.find('tr:gt(0)').toArray().sort(comparer(jQuery(this).index()))
            this.asc = !this.asc
            if (!this.asc){rows = rows.reverse()}
            for (var i = 0; i < rows.length; i++){table.append(rows[i])}
            return false
        })

      // filter columns to show only those which are checked
      jQuery('#filter-button').click( function() {
          selected_cols = []
          col_checkboxes = jQuery('[data-col-checkbox]')
          for (i=0; i < col_checkboxes.length; i++) {
            if (col_checkboxes[i].checked) {
                selected_cols.push(i)
            }
          }
          rows = jQuery('.job-table tr')
          numRows = rows.length
          numFields = rows[0].children.length
          for (i=0;i < numRows;i++) {
            for (j=0; j < numFields;j++) {
              if (selected_cols.includes(j)) {
                jQuery(rows[i].children[j]).show()
              }
              else {
                jQuery(rows[i].children[j]).hide()
              }
            }
          }
      })
    </script>
{% endblock %}
