{% extends "../base_templates/base-page.html" %}
{% load static %}

{% block title %} {{urlUser}} Group View {% endblock %}
{% block content %}
<div class="job-table">
    <h2>{{ urlUser }}'s Group Jobs</h2>
  <table>
    <tr>
        {% for col in cols %}
            <td><strong>{{ col }}</strong></td>
        {% endfor %}
    </tr>
      {% for job in jobs %}
      <tr>
          {% for field in job %}
            <td>{{ field }}</td>
          {% endfor %}
      </tr>
      {% endfor %}
  </table>
</div>
{% endblock %}
