{% extends "../base_templates/base-page.html" %}
{% load static %}

{% block title %} {{urlUser}} Group View {% endblock %}
{% block content %}
<div class="grid-x">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="cell small-3 medium-3 large-3">
        <a href="#">Filter Columns</a>
        <ul class="menu">
          {% for col,idx in cols %}
            <div class="grid-x">
                <label class="cell large-11 medium-11 small-11" for="checkbox1">{{ col }}</label>
                <input class="cell large-1 medium-1 small-1" data-col="{{col}}" type="checkbox" checked="true">
            </div>
          {% endfor %}
        </ul>
      </li>
      <li class="cell small-3 medium-3 large-3"><a href="#">Item 2</a></li>
      <li class="cell small-3 medium-3 large-3"><a href="#">Item 3</a></li>
      <li class="cell small-3 medium-3 large-3"><a href="#">Item 4</a></li>
    </ul>
</div>
<div class="job-table">
    <h2>{{ urlUser }}'s Group Jobs</h2>
  <table>
    <tr class="job-table-heading">
        {% for col,idx in cols %}
            <td><strong>{{ col }}</strong></td>
        {% endfor %}
    </tr>
      {% for job in jobs %}
      <tr>
          {% for field in job %}
            <td>{{ field }}</td>
          {% endfor %}
      </tr>
      {% endfor %}
  </table>
</div>
{% endblock %}
