<!DOCTYPE html>
<html lang="en">
{% include "../base_templates/head.html" %}
{% include "../base_templates/header.html" %}

<body>
    {% csrf_token %}
    <div class="job-table">
        <h2>{{ urlUser }}'s Group Jobs</h2>
      <table>
        <tr>
            {% for col in cols %}
                <td>{{ col }}</td>
            {% endfor %}
        </tr>
          {% for job in jobs %}
          <tr>
              {% for field in job %}
                <td>{{ field }}</td>
              {% endfor %}
          </tr>
          {% endfor %}
      </table>
    </div>
    {% include "../base_templates/footer.html" %}
</body>
</html>
