<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user}}'s Jobs</title>
    <script src="../../../static/js/jquery-3.3.1.js"></script>

</head>

<body>
    {% csrf_token %}
    <div class="job-table">
      <table>
          <thead>{{ user }}'s Jobs</thead><br/>
          <tbody>
              {% for job in jobs %}
                 <tr>{{ job }}</tr><br/>
              {% endfor %}
          </tbody>

      </table>
    </div>
    <script type="text/javascript">
      jQuery('#search-button').click( function() {
        var user = jQuery('#user-field').val()
        window.location.href = "/job-view/" + user + "/jobs/"
        return false
      })
    </script>
</body>
</html>
