{% load staticfiles %}
{% include "../base_templates/head.html" %}
{% include "../base_templates/header.html" %}
<body>
<div id="wrapper">
    <div class="overlay"></div>

<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
<ul class="nav sidebar-nav">

<li class="sidebar-brand">
   <div class="demo-avatar-dropdown" style="color: white">
<a href="#">
  <span>{{user}}@msu.edu</span>
</a>
            <div class="mdl-layout-spacer"></div>
            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons" role="presentation">arrow_drop_down</i>
              <span class="visuallyhidden">Accounts</span>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
              <li class="mdl-menu__item"><a href="#">setting</a></li>
                <li class="mdl-menu__item"><a href="/logout">logout</a></li>
            </ul>
        </div>

</li>
<li>
<a href="/home"><i class="fa fa-fw fa-home"></i> Home</a>
</li>
<li>
<a href="#"><i class="fa fa-fw fa-folder"></i>Single</a>
</li>
<li>
<a href="/jobs/group"><i class="fa fa-fw fa-file-o"></i>Group</a>
</li>
<li>
<a href="/stats"><i class="fa fa-fw fa-cog"></i>Statistics</a>
</li>

<li>
<a href="/ScriptGen/get_name/"><i class="fa fa-fw fa-bank"></i>Script Generation</a>
</li>
    <li><a></a></li> <li><a></a></li> <li><a></a></li> <li><a></a></li> <li><a></a></li> <li><a></a></li> <li><a></a></li> <li><a></a></li> <li><a></a></li> <li><a></a></li> <li><a></a></li> <li><a></a></li> <li><a></a></li> <li><a></a></li> <li><a></a></li> <li><a></a></li> <li><a></a></li>

<li>
    <li> <h4>Contact us</h4></li>
    <li><a>Phone: (517) 353-9309</a></li>
    <li><a>Email: wangzh61@msu.edu</a></li>
    <li><a>Adress: Michigan State University</a></li>
</li>
</ul>
</nav>


<div id="page-content-wrapper">
<button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
<span class="hamb-top"></span>
<span class="hamb-middle"></span>
<span class="hamb-bottom"></span>
</button>
<div class="container">
<div class="row">
<div class="col-lg-8 col-lg-offset-2">
<h1 class="page-header">{{ user }}'s Jobs</h1>
    {% csrf_token %}
    <div class="job-table">
            <table>
                <tr>
                    {% for col in cols %}
                    <td><strong>{{ col }}</strong></td>
                    {% endfor %}
                 </tr>
                {% for job in jobs %}
                <tr>
                    {% for field in job %}
                        <td>{{ field }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
    </div>
</div>
</div>
</div>
{% include "../base_templates/footer.html" %}
</div>

</div>

<script src="{% static 'js/jquery-1.10.2.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script type="text/javascript">
		$(document).ready(function () {
		  var trigger = $('.hamburger'),
		      overlay = $('.overlay'),
		     isClosed = false;

		    trigger.click(function () {
		      hamburger_cross();
		    });

		    function hamburger_cross() {

		      if (isClosed == true) {
		        overlay.hide();
		        trigger.removeClass('is-open');
		        trigger.addClass('is-closed');
		        isClosed = false;
		      } else {
		        overlay.show();
		        trigger.removeClass('is-closed');
		        trigger.addClass('is-open');
		        isClosed = true;
		      }
		  }

		  $('[data-toggle="offcanvas"]').click(function () {
		        $('#wrapper').toggleClass('toggled');
		  });
		});
	</script>

</body>

