<!-- defined blocks which can be extended in child templates:
    title               defines web page title (on tab)
    additional-css      non-default css required for child template
    additional-js       non-default js required for child template
    header              header banner content
      header-title      text to go inside header h1 tag
    sidebar             sidebar content
      nav-links         nav inside the sidebar.  Add links here
    content             PLACE PAGE SPECIFIC CONTENT IN THIS BLOCK!!!!!
    footer              footer banner content
    inline-js           Additional javascript which must run at end of page
-->

{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}MSU HPCC{% endblock %}</title>
  <!-- CSS WHICH SHOULD BE PRESENT ON ALL PAGES
  <link rel="stylesheet" type="text/css" href="{% static 'ScriptGen/style.css' %}">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="{% static 'css/mattstyles.css' %}">

-->
<link rel="shortcut icon" href="{% static 'images/favicon.png'%}">
<link rel="stylesheet" href="{% static 'foundation/css/foundation.css' %}">
<link rel="stylesheet" href="{% static 'foundation/css/app.css' %}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="{%  static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/demo.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css">
<link rel="stylesheet" href="{% static 'css/styles.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/pace.css' %}">
{% block additional-css %} {% endblock %}
<!-- JS WHICH SHOULD BE PRESENT ON ALL PAGES -->
<script src="{% static 'js/jquery-3.3.1.js' %}"></script>
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
{% block additional-js %} {% endblock %}
</head>

<body>
  <div id="wrapper">
    {% csrf_token %}
    <div class="header">
      {% block header %}
      <header>
        <div class="container">
          <div class="row" >
            <div class="col-sm-4 ">
              <img src="{% static 'images/head.png' %}"  height="130" width="130" style="margin-top: 10px"></img>
            </div>
            <div class="col-sm-5">
              <h1>MSU HPCC</h1>
              <p>Created for Capstone Spring 2019</p>
            </div>
            <div class="col-sm-1 col-sm-offset-2 pull-right">
              <div class="pull-right">
                <div class="mdl-layout__header-row">
                  <div class="mdl-layout-spacer"></div>
                  <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
                     <i class="material-icons" style="font-size: 34px;  top: 35%; left: 34%;line-height: 34px;width: 34px;">more_vert</i>
                  </button>
                  <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
                    <a href="https://icer.msu.edu/about"  style="color: #000;text-decoration: none;"><li class="mdl-menu__item">About</li></a>
                    <a href="https://icer.msu.edu/contact"  style="color: #000;text-decoration: none;"><li class="mdl-menu__item">Contact</li></a>
                    <li class="mdl-menu__item">Legal information</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      {% endblock %}
    </div>
    <div id="sidebar">
      {% block sidebar %}
      <div class="overlay"></div>

      <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">

          <li class="sidebar-brand">
            <div class="demo-avatar-dropdown" style="color: white">
              <a href="#">
                <span>{{user}}@msu.edu</span>
              </a>
              <div class="mdl-layout-spacer"></div>
              <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" role="presentation">arrow_drop_down</i>
                <span class="visuallyhidden">Accounts</span>
              </button>
              <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                <li class="mdl-menu__item"><a href="#">setting</a></li>
                <li class="mdl-menu__item"><a href="/logout">logout</a></li>
              </ul>
            </div>

          </li>
          <li>
            <a href="/jobs"><i class="fa fa-fw fa-home"></i>Home</a>
          </li>
          <li>
            <a href="/jobs/group"><i class="fa fa-fw fa-file-o"></i>Group Jobs Report</a>
          </li>
          <li>
            <a href="/stats"><i class="fa fa-fw fa-file-o"></i>Statistics Reports</a>
          </li>

          <li>
            <a href="/ScriptGen/get_name/"><i class="fa fa-fw fa-bank"></i>Script Generation</a>
          </li>
          <li><a></a></li> <li><a></a></li> <li><a></a></li> <li><a></a></li> <li><a></a></li> <li><a></a></li> <li><a></a></li> <li><a></a></li> <li><a></a></li> <li><a></a></li> <li><a></a></li> <li><a></a></li> <li><a></a></li> <li><a></a></li> <li><a></a></li> <li><a></a></li> <li><a></a></li>

            <li> <h4>Contact us</h4></li>
            <li><a>Phone: (517) 353-9309</a></li>
            <li><a>Email: wangzh61@msu.edu</a></li>
            <li><a>Adress: Michigan State University</a></li>
        </ul>
      </nav>
      {% endblock %}
    </div>
    <div id="page-content-wrapper">
      <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
      </button>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-3">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
      <div class="footer" style="position: fixed;bottom: 0;height: 44px;">
        {% block footer %}
        <footer>
          <p>
            Team members: Zach | Christian | Caleb | Matt | Zhihan
          </p>
        </footer>
        {% endblock %}
      </div>
    </div>
  </div>
  <script src="{% static 'foundation/js/vendor/jquery.js' %}"></script>
  <script src="{% static 'foundation/js/vendor/what-input.js' %}"></script>
  <script src="{% static 'foundation/js/vendor/foundation.js' %}"></script>
  <script src="{% static 'foundation/js/app.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      var trigger = $('.hamburger'),
      overlay = $('.overlay'),
      isClosed = false;

      trigger.click(function () {
        hamburger_cross();
      });

      function hamburger_cross() {

        if (isClosed == true) {
          overlay.hide();
          trigger.removeClass('is-open');
          trigger.addClass('is-closed');
          isClosed = false;
        } else {
          overlay.show();
          trigger.removeClass('is-closed');
          trigger.addClass('is-open');
          isClosed = true;
        }
      }

      $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
      });
    });
  </script>
  {% block inline-js %}{% endblock %}

</body>
</html>
