{% load static %}
{% include "../base_templates/head.html" %}
{% include "../base_templates/header.html" %}
<br>
<form method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} <br/>
        {{ field }}
    </div>
    {% endfor %}
    <br>
    <input type="submit" value="Submit">
</form>
<textarea name="name" rows="8" cols="80">Job Comments</textarea>
<br>
<footer>
    <p>
        Team members: Zach | Christian | Caleb | Matt | Zihan
    </p>
</footer>
