{% extends "../base_templates/base-page.html" %}
{% block title %} Script Generator {% endblock %}
{% load static %}
{% block content %}
<div style="position: absolute;">
    <div style="display: flex">
        <div>
            <form method="POST">
            {% csrf_token %}
            <div class="fieldWrapper" style="border: none;">
            {% for field in form %}

                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
                <br/>

            {% endfor %}
            </div>
            <br>
            <input class="button" type="submit" value="Generate Bash Script">
        </form>
        </div>
        <div style="margin-top:0;">

           <div  class="fieldWrapper" style="margin-bottom: 150px; background-color: white;">
                <textarea id="textarea">{%for line in preview%}{{line}}{%endfor%}</textarea>


            </div>
            <div style="width:60%;">
                <div>
                    <input id="download" class="button" type="submit" value="Download Bash File">
                </div>
                <div style="padding-top: 22px;">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                            <input class="button" type="file" name="document">
                        </div>
                        <div>
                            <input class="button" type="submit" value="Submit Job">
                        </div>
                        <div>
                            <input id ="update" class="button" type="submit" name="action" value="Update Bash Script">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block inline-js %}
    <script>
    $("#download").click(function(){
        window.location.href = '/ScriptGen/create_form/';
    });
    </script>
    <script>
      $("#update").click( function(event) {
      var text = $("textarea").val();
       event.preventDefault();
      $.ajax({
        type: 'GET',
        url: '/ScriptGen/Update/',
        data: {
            'text':text,
            'user':'jeff',

        },
        dataType: "json",


        });

    });
    </script>
{% endblock %}
