{% load static %}
{% include "../base_templates/head.html" %}
{% include "../base_templates/header.html" %}

<div class = content>
<form method="POST">
    {% csrf_token %}
    <div class="fieldWrapper">
    {% for field in form %}

        {{ field.errors }}
        {{ field.label_tag }}
        {{ field }}
        <br/>

    {% endfor %}
    </div>
    <br>
    <input type="submit" value="Submit">
</form>
<div class="fieldWrapper">
{% for line in preview %}

        {{line }} <br>

    {% endfor %}
</div>
</div>

<div class =download>
<a href="/ScriptGen/create_form/"> Download Bash File </a>
</div>
</div>
<footer>
    <p>
        Team members: Zach | Christian | Caleb | Matt | Zihan
    </p>
</footer>
