header{
    background-color: green;
    color: white;
    text-align: center;
    border: 2px ridge gray;
}
div {
  width: 320px;
  padding: 10px;
  border: 2px ridge gray;
  margin: 0,auto,0,auto;
}
body{

  padding: 20px;
  border: 2px ridge gray;
  margin: auto,auto,auto,auto;
}
footer{
    background-color: green;
    color: white;
    text-align: center;
    border: 2px ridge gray;
}