{% extends "../base_templates/base-page.html" %}
{% block title %} Script Generator {% endblock %}
{% load static %}
{% block content %}
<div style="position: absolute;width: 100%;margin-bottom: 100px;background: #fff">
    <div style="display: flex;margin-left: 10%">
        <div>
            <form method="POST">
            {% csrf_token %}
            <div class="fieldWrapper" style="border: none;">
            {% for field in form %}
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
            {% endfor %}
            </div>
            <div>
                <input class="button" type="submit" value="Generate Bash Script">

            </div>
        </form>
        </div>
        <div style="margin-top:0;">
            <div style="margin-top: 40px;">
                <input id ="update" class="button" type="submit" name="action" value="Update Bash Script" style="margin-right: 20px">
                <input id="download" class="button" type="submit" value="Download Bash File">

            </div>
           <div  class="fieldWrapper" style="background-color: white;">
                <textarea id="textarea" style="height: 250px;">{%for line in preview%}{{line}}{%endfor%}</textarea>

            </div>
            <div >
                <div style="padding-top: 22px;">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                            <input type="file" name="document" style="width: 50%;display: inline-block;margin: 0">
                        </div>
                        <div style="margin-top: 20px;">
                            <input class="button" type="submit" value="Submit Job">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block inline-js %}
    <script>
    $("#download").click(function(){
        window.location.href = '/ScriptGen/create_form/';
    });
    </script>
    <script>
      $("#update").click( function(event) {
      var text = $("textarea").val();
       event.preventDefault();
      $.ajax({
        type: 'GET',
        url: '/ScriptGen/Update/',
        data: {
            'text':text,
            'user':'jeff',

        },
        dataType: "json",


        });

    });
    </script>
{% endblock %}
