












{% extends "../base_templates/base-page.html" %}
{% block title %} Statistics {% endblock %}
{% block content %}
{% load static %}
<h3>HPCC Statistics</h3>

<div style="width: 100%;">
    <div class="tab button" index="0" style="display: inline-block;width: 15%"><a href="/stats/jobStats">Job Submissions 2018</a></div>
    <div class="tab button" index="1" style="display: inline-block;width: 15%"><a href="/stats/FailStats">Failed Jobs Breakdown</a></div>
    <div class="tab button" index="2" style="display: inline-block;width: 15%"><a href="/stats/MajorUsers">Top Job Submitters</a></div>
    <div class="tab" index="3" style="display: inline-block;width: 15%" hidden="true"><a>link4</a></div>
    <div class="tab" index="4" style="display: inline-block;width: 15%" hidden="true"><a>link5</a></div>
</div>

<div class="first">
<img src= "{% static 'images/submission-stats.png' %}" />

</div>

{% endblock %}
{% block inline-js %}

{% endblock %}